ALTER TABLE workspaces ENABLE ROW LEVEL SECURITY; ALTER TABLE workspace_members ENABLE ROW LEVEL SECURITY; CREATE POLICY view_workspaces ON workspaces FOR SELECT TO authenticated USING (EXISTS (SELECT 1 FROM workspace_members WHERE workspace_members.workspace_id = workspaces.id AND workspace_members.user_id = auth.uid())); CREATE POLICY manage_workspaces ON workspaces FOR ALL TO authenticated USING (EXISTS (SELECT 1 FROM workspace_members WHERE workspace_members.workspace_id = workspaces.id AND workspace_members.user_id = auth.uid() AND workspace_members.role IN ('owner', 'admin')));
